{% extends 'layout.html' %}
{% block content %}
 <meta http-equiv="refresh" content="5" />


<br> <!-- Header + QR Code -->
<h2 align="center">ABC Bank Waiting for all life</h2>

<p align="center"><img src="https://scontent.fbkk2-6.fna.fbcdn.net/v/t1.0-9/104212069_4053110158063471_4460223254766402082_n.jpg?_nc_cat=104&_nc_sid=e007fa&_nc_eui2=AeGDum2XRCVbkLty9rRV7mMkxoOhY34W1yDGg6FjfhbXIDCPHK5ZjKonzTCYPTmaBJ4qIPhCuoep7k-DNcjFMrcF&_nc_ohc=P_zQExE432AAX94TsVo&_nc_ht=scontent.fbkk2-6.fna&oh=639959d1d0522ae87c87e87f579bc99f&oe=5F0C736C"></p>
<br>

<!-- Text under QR Code -->
<div class="alert alert-info" role="alert" align="center">
  ตรวจสอบคิวของคุณที่นี่
  ไม่ต้องต่อแถวอีกต่อไป
</div>


<!-- Cue Table -->

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ลำดับ</th>
      <th scope="col">รายการ</th>
      <th scope="col">คิวปัจจุบัน</th>

    </tr>
  </thead>
  <!-- คิวชนิด A -->
  <tbody>
  {% for i in cues_a %}
  {% ifequal i len_cues_a %}
    <tr>
      <th scope="row">{{i.id}}</th>
      <td>{{i.cue_type}}</td>
      <td>{{i.cue_number}}</td>
    </tr>
  {% endifequal %}
   {% endfor  %}

  <!-- คิวชนิด B -->
  <tbody>
  {% for i in cues_b %}
  {% ifequal i len_cues_b %}
    <tr>
      <th scope="row">{{i.id}}</th>
      <td>{{i.cue_type}}</td>
      <td>{{i.cue_number}}</td>
    </tr>
  {% endifequal %}
   {% endfor  %}

<!-- คิวชนิด C -->
  <tbody>
  {% for i in cues_c %}
  {% ifequal i len_cues_c %}
    <tr>
      <th scope="row">{{i.id}}</th>
      <td>{{i.cue_type}}</td>
      <td>{{i.cue_number}}</td>
    </tr>
  {% endifequal %}
   {% endfor  %}


  <!-- Code เก่า
    <tr>
      <th scope="row">2</th>
      <td>เปิด / ปิด บัญชี</td>
      <td>รอเอาตัวแปรมาใส่</td>

    </tr>
    <tr>
      <th scope="row">3</th>
      <td>สินเชื่อ ธุรกรรมอื่นๆ</td>
      <td>รอเอาตัวแปรมาใส่</td>
    </tr>
      Code เก่า -->

  </tbody>
</table>


<!-- หมายเหตุ -->
<div class="alert alert-dark" role="alert">
    1. กรุณาอยู่ ณ จุดเรียกคิว ก่อนถึงคิวของคุณ เพื่อไม่พลาดคิวของคุณ<br>
    2. หากพนักงานขานเรียกคิวของคุณแล้ว และคุณไม่ตอบรับ จะถือว่าคุณสละสิทธิ์<br>
    3. คุณจะต้องกดคิวใหม่ หากคิวของคุณถูกข้ามไปแล้ว<br>
    4. กรุณาอย่ากดคิวซ้ำๆ หากพบว่ามีการกดคิวซ้ำโดยไม่ถูกใช้งาน จะทำการปรับคิวละ 5000 บาท<br>
    5. เงื่อนไขอาจมีการเปลี่ยนแปลง ขึ้นอยู่กับสถาณการณ์ปัจจุบัน พนักงานจะทำการแจ้งให้ทราบ ณ จุดเรียกคิว<br>
</div>


<!-- Script สำหรับ refresh ทุก 10 วินาที -->
<script>
setTimeout(function(){
   window.location.reload(1);
}, 5000);
</script>



{% endblock %}