{% extends 'layout.html' %}

{% block content %}
<!--Header-->
  <br>
<div class="jumbotron" align="center">
<h1 style="color : blue">บัตรคิวออนไลน์</h1>
  <br>
<p style="color : navy">อย่าปล่อยให้ลูกค้าของคุณต้องรอนาน</p>
</div>

<!--Botton-->
<a href="http://127.0.0.1:8000/info"><button type="button" class="btn btn-danger btn-lg btn-block">บัตรคิวออนไลน์ คืออะไร?</button></a>
  <br>
<a href="http://127.0.0.1:8000/register"><button type="button" class="btn btn-success btn-lg btn-block">สมัครสมาชิก สำหรับร้านค้า</button></a>
  <br>
<button type="button" class="btn btn-info btn-lg btn-block">ลงชื่อเข้าใช้ สำหรับร้านค้า</button>
  <br>
  <br>

<!-- Footer -->
<h2 align="center" style="color: #6600ff">ใช้เวลาของคุณให้คุ้มค่า</h2>
<h3 align="center" style="color: #6666ff">เอาเวลารอคิวไปช็อปปิ้งดีกว่า</h3>
<br>


{% endblock %}