{% extends 'layout.html' %}

{% block content %}
<!--content-->
  <br>
<div class="jumbotron" align="center">
<h1 style="color : blue">บัตรคิวออนไลน์</h1>
  <br>
</div>

    <h3 style="color : navy">คุณเคยต้องนั่งรอคิวหลายๆชั่วโมงมั้ย?</h3> <br>
<div style="color : navy; text-indent: 50px;">
    ในช่วงการระบาดของ Covid-19 ทำให้เราต้องเว้นระยะห่างกันเพื่อความปลอดภัย
    แต่สิ่งที่เป็นผลพวงตามมาคือการรอคิวที่ยืดยาวไม่รู้จักจบสิ้นกินเวลาหลายต่อหลายชั่วโมง
    ไม่ว่าคุณจะไปทำธุรกรรมที่ไหน หรือ แค่พยายามจะซื้อของกินสักอย่าง แถวก็ยาวเสียเหลือเกิน
    จะดีกว่ามั้ย? ถ้าหากบัตรคิวของคุณ จะมาอยู่ในโทรศัพท์ของคุณ และคุณก็รู้ตลอดว่า ใกล้จะถึงคิวของคุณหรือยัง
    และเมื่อถึงเวลาของคุณ คุณก็แค่ไปรอรับบริการ แล้วเอาเวลาที่สูญเปล่าจากการรอคิวไปช็อปปิ้งดีกว่า?
    <br>
    <br>
    <br>
</div>

<h3 style="color : navy">สำหรับร้านค้า เรามีระบบบัตรคิวออนไลน์ให้ลูกค้าของคุณ!!</h3> <br>
<div style="color : navy; text-indent: 50px;">
    จากที่กล่าวมา ลูกค้าของคุณคงไม่พอใจนักหรอกหากต้องรอคิวอย่างสูญสิ้นเวลาไปฟรีๆหลายๆชั่วโมง
    เพียงแค่คุณสมัครสมาชิกร้านค้ากับเรา และทางแอดมินของเราจะทำการสร้าง QR Code เพื่อให้ลูกค้าของคุณ
    ได้มาสแกน QR Code ของร้านค้าคุณ และรับคิวออนไลน์ไป เมื่อถึงคิวดังกล่าว คุณก็แค่เรียกลูกค้าที่มารอรับบริการจากคุณไปง่ายๆ
    ได้ทั้งรอยยิ้ม และ บริการดีเยี่ยมกันไปเลย!!
</div>






{% endblock %}