{% extends 'layout.html' %}
{% block content %}

    <br>
    <h2>ลงชื่อเข้าใช้</h2>
    <br>

{% if messages %} <!--เช็คว่ามี messages มั้ย ถ้าไม่มีไม่โชว์ -->
<div class="alert alert-danger" role="alert">   <!--Bootstrap-->
{% for i in messages %}     <!--For message alert show-->
    <b>{{i}}</b>
{% endfor %}
</div>
{% endif %}
<form action="login_success" method="post">
    {% csrf_token %}        <!-- Error when add csrf_token -->


    <!-- Username -->
    <div class="form-group">
    <label for="exampleInputEmail1">Username</label>
    <input type="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username">
  </div>

    <!-- Password -->
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password">
  </div>


<!-- Submit botton -->
  <button type="submit" class="btn btn-primary">Log in</button>


</form>
<br>
<br>
{% endblock %}