
    <!-- ชื่อร้านค้า / บริษัท -->
    <div class="form-group">
    <label for="formGroupExampleInput">ชื่อร้านค้า / บริษัท</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="เช่น ABC Enterprise co.ltd">
  </div>
    <!-- สาขา -->
  <div class="form-group">
    <label for="formGroupExampleInput2">สาขา</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="เช่น เซ็นทรัล พระราม 7">
  </div>

    <!-- รายละเอียด -->
    <div class="form-group">
    <label for="formGroupExampleInput2">รายละเอียด คิวที่ต้องการ</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="เช่น ชนิดคิว 2 ชนิด 1. ฝาก/ถอน 2. เปิดบัญชี/ธุรกรรม">
  </div>
