{% extends 'layout.html' %}
{% block content %}

<br>
<h2>QR Code</h2>
<!-- ใส่ชั่วคราว เอาไว้ใส่ QR Code ลิงค์ไปหน้าเลือกคิว ของลูกค้า -->
<p align="center"><img src="https://scontent.fbkk2-6.fna.fbcdn.net/v/t1.0-9/104212069_4053110158063471_4460223254766402082_n.jpg?_nc_cat=104&_nc_sid=e007fa&_nc_eui2=AeGDum2XRCVbkLty9rRV7mMkxoOhY34W1yDGg6FjfhbXIDCPHK5ZjKonzTCYPTmaBJ4qIPhCuoep7k-DNcjFMrcF&_nc_ohc=P_zQExE432AAX94TsVo&_nc_ht=scontent.fbkk2-6.fna&oh=639959d1d0522ae87c87e87f579bc99f&oe=5F0C736C"></p>
<br>

<!-- รอเอาตารางมาใส่ -->
<!-- Cue Table -->

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ลำดับ</th>
      <th scope="col">รายการ</th>
      <th scope="col">คิวปัจจุบัน</th>

    </tr>
  </thead>
  <tbody>
  {% for i in cues %}
  {% ifequal i len_cues %}
    <tr>
      <th scope="row">{{i.id}}</th>
      <td>{{i.cue_type}}</td>
      <td>{{i.cue_number}}</td>
    </tr>
  {% endifequal %}
   {% endfor  %}


  </tbody>
</table>
<br>


<!-- พื้นที่เปลี่ยนคิว -->
<form class="form-group" action="change_cue_button" method="get">


  <p><b>กรอกเลขเพื่อเปลี่ยนคิว แล้วกดปุ่มคิวที่ต้องการเปลี่ยน</b></p>

<input type="text" class="form-control" placeholder="เลขคิวที่ต้องการ" name="cue_input">
<br>
  <button type="submit" class="btn btn-primary mb-2" name="change_cue_a_button">เปลี่ยน ฝาก ถอน โอน จ่าย</button>
  <button type="submit" class="btn btn-danger mb-2" name="change_cue_b_button">เปลี่ยน เปิด / ปิด บัญชี</button>
  <button type="submit" class="btn btn-success mb-2" name="change_cue_c_button">สินเชื่อ ธุรกรรมอื่นๆ</button>
</form>



<hr>
<!-- ไปหน้าลูกค้าเลือกคิว -->
<a href="http://127.0.0.1:8000/choosecue"><button type="button" class="btn btn-primary btn-lg">ลูกค้าเลือกคิว</button></a>
<a href="http://127.0.0.1:8000/cue"><button type="button" class="btn btn-secondary btn-lg">หน้าคิวรวม</button>

  <br>
  <br>





{% endblock %}


