{% extends 'layout.html' %}
{% block content %}

<br>
<h2>QR Code</h2>
<!-- ใส่ชั่วคราว เอาไว้ใส่ QR Code ลิงค์ไปหน้าเลือกคิว ของลูกค้า -->
<p align="center"><img src="https://scontent.fbkk22-3.fna.fbcdn.net/v/t1.15752-9/106714513_770533533682154_5313036216504825154_n.png?_nc_cat=103&_nc_sid=b96e70&_nc_eui2=AeGdY0ULzTUd3NMqxzCyVwnZLnOr45XCXc0uc6vjlcJdzW3ZWoahATuaxqNcSHZDEfUiofw2NH25u1PdvcHwrd4U&_nc_ohc=xvWNPrBXkyMAX8drtU6&_nc_ht=scontent.fbkk22-3.fna&oh=dc22ac2465cded42d0cebf9bcf886496&oe=5F23F1AE"></p>
<br>

<!-- รอเอาตารางมาใส่ -->
<!-- Cue Table -->

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ลำดับ</th>
      <th scope="col">รายการ</th>
      <th scope="col">คิวปัจจุบัน</th>

    </tr>
  </thead>
  <!-- คิวชนิด A -->
  <tbody>
  {% for i in cues_a %}
  {% ifequal i len_cues_a %}
    <tr>
      <th scope="row">{{i.id}}</th>
      <td>{{i.cue_type}}</td>
      <td>{{i.cue_number}}</td>
    </tr>
  {% endifequal %}
   {% endfor  %}

  <!-- คิวชนิด B -->
  <tbody>
  {% for i in cues_b %}
  {% ifequal i len_cues_b %}
    <tr>
      <th scope="row">{{i.id}}</th>
      <td>{{i.cue_type}}</td>
      <td>{{i.cue_number}}</td>
    </tr>
  {% endifequal %}
   {% endfor  %}

<!-- คิวชนิด C -->
  <tbody>
  {% for i in cues_c %}
  {% ifequal i len_cues_c %}
    <tr>
      <th scope="row">{{i.id}}</th>
      <td>{{i.cue_type}}</td>
      <td>{{i.cue_number}}</td>
    </tr>
  {% endifequal %}
   {% endfor  %}







  </tbody>
</table>
<br>


<!-- พื้นที่เปลี่ยนคิว -->
<form class="form-group" action="change_cue_button" method="get">


  <p><b>กรอกเลขเพื่อเปลี่ยนคิว แล้วกดปุ่มคิวที่ต้องการเปลี่ยน</b></p>

<input type="text" class="form-control" placeholder="เลขคิวที่ต้องการ" name="cue_input">
<br>
  <button type="submit" class="btn btn-primary mb-2" name="change_cue_a_button">เปลี่ยน ฝาก ถอน โอน จ่าย</button>
  <button type="submit" class="btn btn-danger mb-2" name="change_cue_b_button">เปลี่ยน เปิด / ปิด บัญชี</button>
  <button type="submit" class="btn btn-success mb-2" name="change_cue_c_button">สินเชื่อ ธุรกรรมอื่นๆ</button>
</form>



<hr>
<!-- ไปหน้าลูกค้าเลือกคิว -->
<a href="http://127.0.0.1:8000/choosecue"><button type="button" class="btn btn-primary btn-lg">ลูกค้าเลือกคิว</button></a>
<a href="http://127.0.0.1:8000/cue"><button type="button" class="btn btn-secondary btn-lg">หน้าคิวรวม</button>

  <br>
  <br>





{% endblock %}


