{% extends 'layout.html' %}
{% block content %}

<br>
<h2>QR Code</h2>
<!-- ใส่ชั่วคราว เอาไว้ใส่ QR Code ลิงค์ไปหน้าเลือกคิว ของลูกค้า -->
<p align="center"><img src="https://scontent.fbkk2-6.fna.fbcdn.net/v/t1.0-9/104212069_4053110158063471_4460223254766402082_n.jpg?_nc_cat=104&_nc_sid=e007fa&_nc_eui2=AeGDum2XRCVbkLty9rRV7mMkxoOhY34W1yDGg6FjfhbXIDCPHK5ZjKonzTCYPTmaBJ4qIPhCuoep7k-DNcjFMrcF&_nc_ohc=P_zQExE432AAX94TsVo&_nc_ht=scontent.fbkk2-6.fna&oh=639959d1d0522ae87c87e87f579bc99f&oe=5F0C736C"></p>
<br>

<!-- รอเอาตารางมาใส่ -->
<!-- Cue Table -->

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ลำดับ</th>
      <th scope="col">รายการ</th>
      <th scope="col">คิวปัจจุบัน</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>ฝาก ถอน โอน จ่าย</td>
      <td>รอเอาตัวแปรมาใส่</td>  <!-- รอเอาตัวแปรคิว 1 มาใส่ -->

    </tr>
    <tr>
      <th scope="row">2</th>
      <td>เปิด / ปิด บัญชี</td>
      <td>รอเอาตัวแปรมาใส่</td>  <!-- รอเอาตัวแปรคิว 2 มาใส่ -->

    </tr>
    <tr>
      <th scope="row">3</th>
      <td>สินเชื่อ ธุรกรรมอื่นๆ</td>
      <td>รอเอาตัวแปรมาใส่</td>  <!-- รอเอาตัวแปรคิว 3 มาใส่ -->

    </tr>
  </tbody>
</table>

<!-- ปุ่มเพิ่มคิว -->
<button type="button" class="btn btn-primary">เพิ่มคิว A</button>
<button type="button" class="btn btn-secondary">เพิ่มคิว B</button>
<button type="button" class="btn btn-success">เพิ่มคิว C</button>
<br>
<br>
<!-- ปุ่มลดคิว -->
<button type="button" class="btn btn-danger">ลดคิว A</button>
<button type="button" class="btn btn-warning">ลดคิว B</button>
<button type="button" class="btn btn-info">ลดคิว C</button>
<br>
<br>
<!-- ไปหน้าลูกค้าเลือกคิว -->
<a href="http://127.0.0.1:8000/choosecue"><button type="button" class="btn btn-primary btn-lg">ลูกค้าเลือกคิว</button></a>
<a href="http://127.0.0.1:8000/cue"><button type="button" class="btn btn-secondary btn-lg">หน้าคิวรวม</button>





{% endblock %}


