{% extends 'layout.html' %}
{% block content %}

<!-- ปุ่มเลือกคิว ของลูกค้า -->
<br>
<h2>กรุณาเลือกคิวทำรายการ</h2>
<button type="button" class="btn btn-primary btn-lg btn-block">ฝาก ถอน โอน จ่าย</button>
<br>
<button type="button" class="btn btn-success btn-lg btn-block">เปิด / ปิด บัญชี</button>
<br>
<button type="button" class="btn btn-danger btn-lg btn-block">สินเชื่อ ธุรกรรมอื่นๆ</button>
<br>
<br>

<!-- หมายเหตุ -->
<div class="alert alert-dark" role="alert">
    1. กรุณาอยู่ ณ จุดเรียกคิว ก่อนถึงคิวของคุณ เพื่อไม่พลาดคิวของคุณ
    2. หากพนักงานขานเรียกคิวของคุณแล้ว และคุณไม่ตอบรับ จะถือว่าคุณสละสิทธิ์
    3. คุณจะต้องกดคิวใหม่ หากคิวของคุณถูกข้ามไปแล้ว
    4. กรุณาอย่ากดคิวซ้ำๆ หากพบว่ามีการกดคิวซ้ำโดยไม่ถูกใช้งาน จะทำการปรับคิวละ 5000 บาท
    5. เงื่อนไขอาจมีการเปลี่ยนแปลง ขึ้นอยู่กับสถาณการณ์ปัจจุบัน พนักงานจะทำการแจ้งให้ทราบ ณ จุดเรียกคิว
</div>

{% endblock %}