{% extends 'layout.html' %}

{% block content %}
<!--content-->
  <br>
<div class="jumbotron" align="center">
<h1 style="color : blue">บัตรคิวออนไลน์</h1>
  <br>
</div>

<div class="alert alert-primary" role="alert">
    <h3 style="color : navy" align="center">กรุณาอยาปิดหน้านี้ ก่อนได้รับบริการ?</h3> <br>
<div style="color : navy; text-indent: 50px;">
    <h4>คิวของคุณคือ</h4>
    <p>{% for i in currentA %}</p>
    <p>{{ i.cue_type }}  ลำดับที่  {{ i.id }}</p>

    {% endfor  %}
    </tr>
    <br>
    <br>
    <br>
</div>
</div>

<!-- ปุ่มไปหน้าคิวปัจจุบัน -->
<a href="http://127.0.0.1:8000/cue" target="_blank"><button type="button" class="btn btn-success btn-lg">ไปหน้า คิวปัจจุบัน</button>
<br>
<br>



{% endblock %}